.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
td{
  min-width: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
  padding: 10px;
}
p{
  margin: 0;
  margin-top: 15px;
}

#myButton{
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-size: 40px;
  color: white;
  background: #6225E6;
  transition: 3s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-127deg);
}
#myButton:hover{
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
